{% extends 'web/base.html' %}

{% block container %}
   <div class="c-layout-page" style="margin-top: 15px;">
      <div class="container">
         <section class="main">
            <div class="blockContent">
               <div class=" right-seperate">
                  <div class="card-game-panel">
                     <h2 class="panel-title">Hướng dẫn nạp thẻ</h2>
                     <p></p>
                     <p>☘<strong>&nbsp;Cam kết không nuốt thẻ, không làm lag web đối tác khi kết nối API. </strong></p>
                     <p>☘ Nghiêm cấm&nbsp;sử dụng<strong> thẻ cào trộm cắp, lừa đảo...</strong>&nbsp;nếu sử dụng&nbsp;sẽ khoá tài khoản.</p>
                     <p>- Trường hợp chọn Sai mệnh giá sẽ chấp nhận theo mệnh giá nhỏ hơn. Và phạt 10% số tiền nhận được</p>
                     <p></p>
                     <video controls width="50%" style="margin-left: 25%;">
                        <source src="static/assets/video/sp_01.mp4" type="video/webm">
                        <source src="static/assets/video/sp_01.mp4" type="video/mp4">
                     </video>
                  </div>
                  <div class="card-game-panel" style="margin-top: 30px;">
                     <h2 class="panel-title">Hướng dẫn mua nick</h2>
                     <p></p>
                     <p>☘<strong>&nbsp;Cam kết không nuốt thẻ, không làm lag web đối tác khi kết nối API. </strong></p>
                     <p>☘ Nghiêm cấm&nbsp;sử dụng<strong> thẻ cào trộm cắp, lừa đảo...</strong>&nbsp;nếu sử dụng&nbsp;sẽ khoá tài khoản.</p>
                     <p>- Trường hợp chọn Sai mệnh giá sẽ chấp nhận theo mệnh giá nhỏ hơn. Và phạt 10% số tiền nhận được</p>
                     <p></p>
                     <video controls width="50%" style="margin-left: 25%;">
                        <source src="static/assets/video/sp_01.mp4" type="video/webm">
                        <source src="static/assets/video/sp_01.mp4" type="video/mp4">
                     </video>
                  </div>
               </div>
            </div>
         </section>
      </div>
      <!-- END: PAGE CONTENT -->
   </div>
{% endblock %}
